@(userTCFS: UserTCFS)

@main(userTCFS) {
    <script src="@routes.Assets.at("javascripts/tcfs.js")" type="text/javascript"></script>
    <script>
    /**
    * Created by alexander on 09.04.15.
    */
    $(document).ready(function() {
    var table = $('#contacts_table').dataTable( {
        "paging": true,
        "bProcessing": true,
        "aaSorting": [[ 0, "asc" ]],
        "bServerSide": true,
        "bJQueryUI": true,
        "sPaginationType": "full_numbers",
        "sAjaxSource": "@routes.OrderController.list()",
        "fnCreatedRow": function( nRow, aData, iDisplayIndex, iDisplayIndexFull ) {
            // Bold the grade for all 'A' grade browsers
            if ( aData[6] == "Complete" )
            {
                $('td:eq(2)', nRow).parent( ).addClass("success");
            }
            if ( aData[6] == "WaitForPay" )
            {
                $('td:eq(2)', nRow).parent( ).addClass("info");
            }
        }
    });
    });
    </script>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Orders list</h1>
        </div>
    </div>
    <table id="contacts_table" cellpadding="0" cellspacing="0" border="0" class="table table-hover">
        <thead>
            <tr>
                <th>Edit</th>
                @if(userTCFS.memberType != UserTCFS.MemberType.Сook) {
                    <th>Pay</th>
                }
                <th>ID</th>
                <th>Waiter</th>
                <th>Guests count</th>
                <th>TableTCFS</th>
                <th>Order status</th>
                <th>Readiness</th>
                @if(userTCFS.memberType == UserTCFS.MemberType.Admin) {
                    <th>Saved</th>
                }
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
}